*{
    scroll-behavior: smooth;
}

h1{
    font-family: "Montserrat";
    font-size: 4rem;
    line-height: 1.5;

}

h2{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7% 15%;
}

/* NAVIGATION BAR */

.nav-item{
    font-family: "Montserrat-medium";
    padding: 0 18px;
}

nav{
    font-size: 1.5rem;
}


.navbar{
    padding-bottom: 5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
    
}

.nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}


/* DOWNLOAD BUTTONS */

.download-button{
    font-family: "Ubuntu";
    margin: 5% 3% 5% 0;
}

/* TITLE IMAGE  and SECTION*/

#title{
    background-color: #ff4c68;
    color: #fff;
}

.iphone-image{
    position: absolute;
    transform: rotate(25deg);
    width: 22rem;
    right: 22.5%;
}

@media screen and (max-width: 1198px) {

    #title{
        text-align: center;
    }

    .iphone-image{
        position: static;
        transform: rotate(0);
    }
}




/* FEATURES SECTION */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.features-title{
    font-family: "Montserrat-Black";
    font-weight: 900;
    font-size: 1.5rem;
}
.features-section{
    padding: 7.5%;
    text-align: center;
}
.fa-icon{
    margin-bottom: 1rem;
    color: #ef8172;
}
.features-section p{
    color: #8f8f8f;
}

.fa-solid:hover{
    color: #ff4c68;
}

/* TESTIMONIALS SECTION*/

#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 1.5rem;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2rem;
}

.press-image{
    width: 10%;
    margin: 1rem 4rem 1rem 4rem;
}

.carousel-item{
    padding: 7% 10%;
}

/* PRICING SECTION */

#pricing{
    text-align: center;
    padding: 7% 15%;
}

.card-pricing{
    margin-top: 10%;

}

/* CTA SECTION */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 20%;

}

.cta-btn{
    font-family: "Ubuntu";
    margin: 8% 3% 5% 0;
}

.cta-title{

    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;

}

/* Footer Section */

#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.footer-icon{
    font-size: 1.2rem;
    margin: 5% 3%;
}

.footer-icon:hover{
    color: #ff4c68;
}

